body {
	margin: 0;
	color: #555;
	background: #fff;
	font-size: 12px;
	line-height: 1.667;
	font-family: "arial, helvetica, sans-serif";
}

a {
	color: #555;
	text-decoration: none;
}

a:hover {
	color: #f60;
}
li{
	list-style: none;
}
ol,
ul{
	margin: 0;
	padding: 0;
}